$bg-color: #333333;
$text-color: #f8f8f8;
$text-white: #ffffff;
$heighlight-color: #f7c40b;
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: $bg-color;
  color: $text-color;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: $bg-color;
  opacity: 0.8;
  nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: $text-white;
      padding: 10px;
      text-decoration: none;
    }
  }
}

.banner {
  height: 70vh;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
  }
  h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $text-white;
  }
}
p {
  margin: 20px;
  font-size: 1.3rem;
}
